<!-- experience section -->
<h2 class="pt-5 pt-md-0"><b>Work Experiences:</b></h2>
<div class="container row row-cols-1 justify-content-center mb-5">

  <!-- work -->
  {{#each experiences}}
  <section class="m-4 p-4 col rounded-3 shadow-sm bg-theme w-75">
    <div class="d-flex flex-column flex-lg-row gap-3">
      <div class="d-flex flex-column align-items-center align-items-md-start">
        <div class="d-flex flex-column align-items-center p-2"><div
            class="d-inline p-1 m-0 brand bg-light shadow-sm rounded"
          >
            <img
              src="/assets/images/logos/{{this.logo}}"
              alt="{{this.company}}"
              class="logo"
            />
          </div>
        </div>
      </div>
      <div class="flex-grow-1">
        <div class="d-flex flex-column flex-lg-row justify-content-between">
          <div class="d-inline">
            <h4 class="m-0 mt-2"><b>{{this.role}}</b></h4>
            <p class="text-success">{{this.company}}</p>
          </div>
          <p class="text-secondary">{{this.duration}}</p>
        </div>
        <ul class="ps-3 text-secondary">
          <li>{{this.description.[0]}}</li>
          <li>{{this.description.[1]}}</li>
          <li>{{this.description.[2]}}</li>
        </ul>
      </div>
    </div>
  </section>
  {{/each}}
</div>