<!-- tech section -->
<h2 class="pt-5 pt-md-0 mb-4"><b>Currently Learning Tech Stack</b></h2>

<!-- swiper -->
<div class="swiper swiper-tech position-relative mb-5">

  <!-- gradient left -->
  <div class="position-absolute top-0 bottom-0 l0"></div>
  <!-- gradient right -->
  <div class="position-absolute top-0 bottom-0 r0"></div>

  <!-- tech stack -->
  <div class="swiper-wrapper m-4">
    <!-- items -->
    {{#each techs}}
    <div class="swiper-slide">
      <div class="d-flex flex-column align-items-center p-2"><div
          class="d-inline p-2 m-2 brand bg-theme shadow-sm rounded"
        >
          <img
            src="/assets/images/logos/{{this.logo}}"
            alt="{{this.name}}"
            id="{{this.name}}"
            class="logo"
          />
        </div>
        <label for="{{this.name}}" class="fs-6 text-secondary">{{this.name}}</label>
      </div>
    </div>
    {{/each}}
  </div>
</div>